/*
 *  written by shoku endri
 *	on 2018-10-18
*/

@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Armata|Roboto+Mono:500|Roboto:500');


/* VIEWPORT */

/*html, body { height: 100%; }*/

body {
	background-color: #388e3c;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


/* MENU */

body > nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%; height: 60px;
}

body > nav > span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: .5em;
	font-family: 'Armata', sans-serif; 
	font-weight: bold;
	font-size:1em;
	box-shadow: inset 0 0 0 0 #ffb300;
	transition: all 500ms ease-out;
}

body > nav > span:hover {
	box-shadow: inset 0 100px 0 0 #ffb300;
}

body > nav > span > a:link,
body > nav > span > a:visited,
body > nav > span > a:hover,
body > nav > span > a:active { color: black; text-decoration: none; }


/* MAIN */


body > article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 3.5em;
	font-family: 'Armata', sans-serif;
	font-weight: bold;
	font-size:6em;
	color: #fff;
}


/* IP & FOOTER */

body > div, body > footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%; height: 2.5em;
	background-color: black;
	border: none;
}

body > div > span#ipv4, body > footer > span {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500; font-size: 1.25em;
	text-align: center;
}

body > div > span#ipv4 { color: white; }

body > footer { background-color: #ffb300; }

body > footer > span {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: black;
}