@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:400,400i,500,500i,600,600i|Bitter:400,400i,700|Maven+Pro:400,500,700|Merriweather:400,400i,700,700i|Noto+Serif:400,400i,700,700i|Oswald:300,400,500|Roboto:500|Roboto+Slab:400,700|Ruda:400,700,900|Slabo+27px|Rock+Salt&subset=latin-ext');

h2, h3, h4, h5, h6 { font-family: 'Ruda', sans-serif; }
p { font-family: 'Maven Pro', serif; }

.relative {
	padding: 10px;
	position: relative;
	width: 920px;
	background-color: whitesmoke;
	border: 1px solid #ccc;
	margin: 10px auto;
}

#header {
	position: relative;
	padding: 20px;
	height: 80px;
	line-height: 80px;
	background-color: steelblue;
	color: #fff;
}

#header h1 { 
	font-family: 'Rock Salt', cursive; font-size: calc(12px + 3vw); 
	font-weight: normal;
	margin:0;
	padding:0;
	float: left;
}

#search { float: right; }

#search input { padding: 5px; }

#nav {
	position: relative;
	height: 30px;
	background-color:silver;
}
#nav ul { margin: 0; padding: 0; }

#nav ul li {
	float: left;
	list-style:none;
	padding: 0;
	margin: 0 3px;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: steelblue; 
}

#ipv4 { 
	font-family: 'Roboto', sans-serif; 
	font-size: 1em; 
	color: crimson; 
	float: right; 
	line-height: 30px;
	text-align: center;
	width: 220px;
	margin: 0; padding: 0;
}

a, a:link, a:visited, a:active { font-family: 'Roboto', sans-serif; color: whitesmoke; text-decoration: none; }
a:hover { color: orange; }

.sidebar { float: right; width: 200px; background-color: crimson; padding: 10px; }

.photo { display: inline-block; width: 190px; margin: 5px; }

.phototext { text-align: center; color: #fff; }

.clearfloat { clear: both; }

footer {
	position: relative;
	height: 30px;
	background-color: olivedrab;
	padding-left: 10px;
	text-align: center;
}

footer p { 
	font-family: 'Roboto', sans-serif;
	color: whitesmoke;
	line-height: 30px;
	font-size: 15px;
}





