/*
 *  written by shoku endri {}
 *	on 2017-10-16
*/
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Armata');

html, body { height: 100%;overflow: hidden; }

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

body > nav {
	display: flex;
	width: 100%; height: 10%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

body > nav > span {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 5em; height: 100%;
	font-family: 'Armata', sans-serif; 
	font-weight: bold;
	transition: background-color 300ms ease-out;
}

body > nav > span:hover {
	background-color: steelblue;
	transition: background-color 300ms ease-out;
}

body > nav > span > a:link,
body > nav > span > a:visited,
body > nav > span > a:hover,
body > nav > span > a:active { color: black; text-decoration: none; }

body > div:nth-child(2), div:nth-child(3) { display: flex; flex-direction: row; flex-wrap: wrap; width: 50%; height: 100%; }
body > div:nth-child(2) { background-color: crimson; order: 0; justify-content: center; }
body > div:nth-child(3) { background-color: seagreen; order: 1; }

span.logo_font { font-family: 'Rock Salt', cursive; font-size: 2em; align-self: center; }